header {
    z-index: 9999;
  position: absolute;
  left: 3px;
  width: 5vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  background: rgba(70, 30, 30, 0.45);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    >a{
        >img{
            width: 50px;
            transition: 0.4s;
            border-bottom: 3px solid transparent;
            &:hover{
                scale: 1.1;
                border-bottom: 3px solid darkcyan;
                .tooltip{
                    visibility: visible;
                }
            }
        }
    }

    > p {
      > img {
        width: 50px;
        border: 2px solid lightgray;
        border-left: transparent;
        border-radius: 4px;
        padding: 4px;
      }
    }
  }}

  .tooltip{
    position: absolute;
    left: 5vw;
    padding: 5px 10px 5px 10px;
    color: white;  background: rgba(90, 50, 50, 0.85);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(7.4px);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }

div a:hover + .tooltip{
    visibility: visible;
    opacity: 1;
}