@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@300&display=swap");

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  ::-webkit-scrollbar {
    width: 50px;
  }
}

h1{
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 2%;
}

* {
  margin: 0;
  padding: 0;
}
hr {
  width: 95%;
  margin: 5%;
}

body {
  height: 97vh;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Imagens/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  overflow: scroll;
  overflow-x: hidden;
  width: calc(100vw - 9px - 5vw);
}

main {
  position: absolute;
  top: 2vh;
  right: 3px;
  left: calc(5vw + 6px);
  background: rgba(70, 30, 30, 0.45);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  height: 95vh;
  gap: 10px;
  overflow-x: hidden;
  
}

